<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ferrellaveco.ferrellaveco.ferrellaveco" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ferre-Llave Co</name>
    <description>
        www.ferrellave.co
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        almaginetx
    </author>
    <content src="index.html" />
    <preference name="android-minSdkVersion" value="15" />
    <preference name="android-targetSdkVersion" value="26" />
    <icon src="logo.png" />
</widget>
